/* main styling over-rides    background: url("../image/live.png") no-repeat; */

html, body {
    background: url("../image/live.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 0 25px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* TINKERING WITH IDEA OF BACKGROUND IMAGE ON HOME PAGE ONLY
body{
    background-color: #F0F8FF;
}
*/


h1, h2 {
    font-family: 'Oswald', sans-serif;
}

/* navbar styling */
.navbar-box{
    background: none;
    filter: none;
    border: none;
    box-shadow: none;
    background-color: #D04109;
    height: 50px;

    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-box .nav  > li  > a{
    color: #fff;
    text-shadow: none;
}
.navbar-box .nav  > li  > a:hover{
    color: #000;
    background: none;
}
.navbar-box .navbar-brand {
    margin-top: -34px;
}
.navbar-box .navbar-nav {
    margin-top: -6px;
}
.navbar-box  .navbar-right{
    margin-top: 0px;
}

.navbar-brand{
    padding-left: 42px;
}


/* for mesages */
.redder{
    color: red;
    font-weight: bold;
}

/* to make buttons all double-width */
.btn:hover {
    background: #999; /* Old browsers */
    border-width: 4px;
}
.btn-box{
    width: 40px;
    height: 40px;
}

/* Making sure forms don't overlap panels
​.my-input{
    width: 100%;
    padding: 4px 0 4px 0 !important;
}​
 */

/* to make table wrap/scroll for us */
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table {
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}


.table-responsive>.table>tbody {
    display: in-line;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    }


.texvert {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
    float: left;
    vertical-align:top;
}

/* some specific styling */
#logo {
    height: 100%;
    margin-top: -65px;
    margin-left: 100px
}

#big-logo{
   color: white;
   background: black;
   text-align: center;
   font-size: 48px;
   opacity: 0.7;
}

#gherkins{
   color: black;
   background: white;
   text-align: left;
   font-size: 22px;
   opacity: 0.7;
}

#prof_row_style{
   color: white;
   background: #282832;
   opacity: 0.85;
}
#prof_row_style:hover {
    background: #999; /*################ Old browsers */
    color:#FF793E;
}

#scroller {
    overflow-y: scroll;
}
#panel-transparent {
    background: none;
    text-align: center;
    }


/* Nothing used beneath here ############################################### */
/*
.narro{
    line-height: 6px;
    min-height: 6px;
    height: 6px;
}

.icon-green {
    color: green;
}

.icon-red {
    color: red;
}

.icon-grey {
    color: #888;
}



.btn-w3r {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #cb60b3; ################ Old browsers
    background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); ################ FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac)); /   *   Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); ################ Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); ################ Opera 11.10+
    background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); ################ IE10+
    background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); ################ W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); ################ IE6-9
    color:#fff;
}
.btn-w3r:hover {
    background: #999; ################ Old browsers
    color:#FF793E;
    border-width:3px;
}

.btn-circle{
    width:50px;
    height:50px;
    border-radius: 50%;
    text-align: center;
    padding: 0px;

}

.btn-sq,
.btn-group-sq > .btn {
  width: 200px;
  height: 200px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  &:hover {
    background: #333; ################ Old browsers
    color:#e75616;
    }
}
*/



/*
 .darkBG{
    background-color: whitesmoke;
}
*/


 /*
#navmod {
    top: 15px;
    width: 940px;
}

#navmodtwo{
    height: 60px:
}

#brand_valign {
    top: 55px;
}

.navbar .navbar-inverse  .navbar-fixed-top{
 	height:150px:
}
.a .navbar-brand{
    width: 120px;
}
*/

/*
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #000000;
}
*/

/*
#faded1{
    opacity: 0.1;
}
#faded3{
    opacity: 0.3;
}
#faded5{
    opacity: 0.5;
}
#faded7{
    opacity: 0.7;
}

#homestyle{
   color: white;
   background: black;
   text-align:center;
}
*/